{% extends 'base.html' %}
{% block title_text %}Character Page{% endblock %}
{% block header_text %}Create your character{% endblock %} 
{% block body_content %}<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="charname">What is your character's name</label>
        <input type="text" class="form-control" id="charname" name="charname" maxlength="40" 
        placeholder="Enter a character name, less than 40 characters" required>
    </div>
    <div class="form-group">
        <label for="hitpoints">What is your character's hit points</label>
        <input type="number" class="form-control" id="hitpoints" name="hitpoints" min="1" max="200" required>
    </div>
    <div class="form-group">
        <label for="armor">What is your character's armor class</label>
        <input type="number" class="form-control" id="armor" name="armor" min="10" max="20" required>
    </div>
    <input type="submit" class="btn-primary" id="submit" name="submit" value="Create character">
</form>{% endblock %}