{% extends 'base.html' %}
{% block title_text %}Lore Page{% endblock %}
{% block header_text %}Legends and Lore{% endblock %} 
{% block body_content %}
<p>Ages past, a human magic-user/cleric of surpassing evil took the steps necessary to preserve his life-force beyond the centuries he had already lived, and this creature became the lich, Acererak. Over the scores of years which followed,
    the lich dwelled with hordes of ghastly servants in the gloomy stone walls of the very hill where the Tomb is. Eventually, even the undead life force of Acererak began to wane, and so for the next eight decades, he bade his servants
    to create the Tomb of Horrors.</p>
<p>Self-resetting traps were built into the plan, traps so deadly that they could snuff the life from even the most experienced adventurer at once. Enchanted creatures, not many, were left in key places.</p>
{% endblock %}